<html>
    <head>
         <link rel="stylesheet" href="/static/style.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
         <title>Welcome to Face Recognition</title>
    </head>
    <body>
            <h1>Welcome to Face Recognition</h1>
            <div id="Instruction">
            <div class="card border-secondary mb-3" style="max-width: 30rem;">
              <div class="card-header">Instruction for Face Recognition Project</div>
              <div class="card-body">
                <h5 class="card-title">Find faces on photos</h5>
                <p class="card-text">Main purpose for our project, this is creating service which allow to facility serching data towards faces from photo. Service was created on Face Recognition Project base.</p>
                <div class="Form">
                  <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit" value="Upload">
                  </form> 
                </div>
              </div>
            </div>
          </div>
    </body>
