<html>
    <head>
         <link rel="stylesheet" href="/static/style.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
         <title>Welcome to Face Recognition</title>
    </head>
    <body>
    <h1>Welcome to Face Recognition</h1>
        {% for path in listForImages %}
        <div class="gallery">  
        <img src="/static/UPLOAD_FOLDER/{{path}}">
    </div>
        {% endfor %}
    </body>
</html>
